#root {
  max-width: 425px;
  margin: 0 auto;

  --color-accent: #7b6363;
  --color-text: #6d756a;
  --font-accent: "MADE TheArtist Script";
  --font-normal: "Montserrat";
  --font-date: "Solway";
}

@font-face {
  font-family: "MADE TheArtist Script";
  src: url("./assets/fonts/MADE TheArtist Script PERSONAL USE.otf")
    format(opentype);
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/MontserratAlternates-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "Solway";
  src: url("./assets/fonts/Solway-Regular.ttf") format(truetype);
}
